<div class="container">



  <div class="hero-unit">
    <h1>Cuánto tengo?</h1>
    <p>
      La forma mas rápida y completa de seguir tu economía personal.
    </p>
    <p>
      <%= link_to "Entrar", "/login", :class => "btn btn-large btn-success"%>
      <%= link_to "Registrarse", "/signup", :class => "btn btn-primary btn-large"%>
    </p>
  </div>



  <footer>
    <p><b>Snappler</b> &copy; Company 2012</p>
  </footer>
</div>